<div class="header">
  <div class="logo">
    <mat-icon aria-hidden="false" aria-label="logo" fontIcon="cloud" />
    <span [ngClass]="{ displayNone: mobileDisplay }">weatherApp</span>
  </div>

  <app-search />
  <div>
    <a
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <app-button>
        <mat-icon aria-hidden="false" aria-label="logo" fontIcon="home" />
        <span [ngClass]="{ displayNone: mobileDisplay }">Home</span>
      </app-button>
    </a>

    <a
      routerLink="/favorites"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <app-button>
        <mat-icon aria-hidden="false" aria-label="logo" fontIcon="star" />
        <span [ngClass]="{ displayNone: mobileDisplay }">Favorites</span>
      </app-button>
    </a>

    <app-button (click)="toggleTheme()">
      <fa-icon [icon]="themeIcon" />
    </app-button>

    <app-button (click)="toggleUnits()">
      <fa-icon [icon]="unitsIcon" />
    </app-button>
  </div>
</div>
