<div class="header">
  <div class="logo">
    <mat-icon aria-hidden="false" aria-label="logo" fontIcon="cloud" />
    <span>weatherApp</span>
  </div>

  <app-search />
  <div>
    <app-button>
      <mat-icon aria-hidden="false" aria-label="logo" fontIcon="home" />
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Home
      </a>
    </app-button>

    <app-button>
      <mat-icon aria-hidden="false" aria-label="logo" fontIcon="star" />
      <a
        routerLink="/favorites"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Favorites
      </a>
    </app-button>
  </div>
</div>
