.header {
  background-color: transparent;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo-icon {
  font-size: 32px;
  margin-right: 8px;
}

.icon {
  font-size: 18px;
  margin-top: 18px;
  width: 38px;
  height: 36px;
  * {
    margin-inline: 4px;
  }
}

.displayNone {
  display: none;
}
