<div class="header">
  <div class="logo">
    <fa-icon [icon]="logoIcon" class="logo-icon" />
    <span [ngClass]="{ displayNone: mobileDisplay }">weatherApp</span>
  </div>

  <app-search />

  <div>
    <a
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <app-button>
        <fa-icon [icon]="homeIcon" class="icon" />
        <span [ngClass]="{ displayNone: mobileDisplay }">Home</span>
      </app-button>
    </a>

    <a
      routerLink="/favorites"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <app-button>
        <fa-icon [icon]="favoritesIcon" class="icon" />
        <span [ngClass]="{ displayNone: mobileDisplay }">Favorites</span>
      </app-button>
    </a>

    <app-button (click)="toggleTheme()">
      <fa-icon [icon]="themeIcon" />
    </app-button>

    <app-button (click)="toggleUnits()">
      <fa-icon [icon]="unitsIcon" />
    </app-button>
  </div>
</div>
