.five-day-forecast {
  display: flex;
  justify-content: space-between;
  min-width: 900px;

  @media (max-width: 1000px) {
    flex-direction: column;
    width: 90vw;
    min-width: 0;
    > * {
      margin-block: 8px;
    }
  }
}
