.mat-mdc-button:not(:disabled) {
  background-color: transparent;
  font-size: 16px;
  padding-inline: 8px;
  padding-block: 24px;
}

:host ::ng-deep {
  .mdc-button__label {
    color: var(--text);
    display: flex;
    align-items: center;
  }
  .mat-icon {
    margin-right: 8px;
    height: 18px;
    font-size: 18px;
  }

  a {
    color: var(--text);
    text-decoration: none;
  }
}
