.home {
  display: flex;
  margin-top: 64px;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 1150px;
}

.current-weather {
  align-self: flex-start;
  margin-bottom: 60px;
  color: var(--text);
  border: 1px solid var(--someOtherColor);
}
