<div class="home">
  <div class="current-weather-card">
    <h1>Current Weather</h1>
    <app-card>
      <p>Tel Aviv</p>
      <p>{{ currentWeather.Temperature.Metric.Value }}</p>
      <p>{{ currentWeather.Temperature.Metric.Unit }}</p>
      <p>{{ currentWeather.WeatherText }}</p>
      <p>{{ currentWeather.WeatherIcon }}</p>
    </app-card>
  </div>

  <div class="current-weather-card">
    <h1>fiveDayForecast</h1>
    <app-card>
      <p>{{ fiveDayForecast | json }}</p>
    </app-card>
  </div>
</div>
