<app-card>
  <div class="city-title">
    <a routerLink="/home">
      <h2 class="city-name" (click)="changeCity()">{{ cityName }}</h2>
    </a>

    <fa-icon
      class="favorites-icon"
      [icon]="favoriteIcon"
      (click)="toggleFavorite()"
    />
  </div>

  <div class="current-weather-info">
    <fa-icon
      *ngIf="currentWeatherIcon"
      class="large-icon"
      [icon]="currentWeatherIcon"
    />

    <div *ngIf="temperatureValue">
      <span>{{ temperatureValue }}</span>
      <span>°{{ temperatureUnit }}</span>
      <p>{{ weatherText }}</p>
    </div>
    <div *ngIf="!temperatureValue">
      <h3>Oops! something went wrong</h3>
    </div>
  </div>
</app-card>
