<app-card>
  <div class="city-title">
    <h2 class="city-name">{{ cityName }}</h2>
    <fa-icon
      class="favorites-icon fa-stroke"
      [icon]="favoriteIcon"
      (click)="toggleFavorite()"
    />
  </div>

  <div class="current-weather-info">
    <fa-icon class="large-icon" [icon]="currentWeatherIcon" />
    <div>
      <span>{{ currentWeather.Temperature.Metric.Value }}</span>
      <span>°{{ currentWeather.Temperature.Metric.Unit }}</span>
      <p>{{ currentWeather.WeatherText }}</p>
    </div>
  </div>
</app-card>
