mat-form-field {
  margin-top: 22px;

  ::ng-deep .mdc-text-field {
    border-radius: 16px;
  }

  ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--backgroundColorPrimary);
  }

  ::ng-deep .mdc-text-field--filled .mdc-line-ripple::before {
    border-bottom: none;
  }

  ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom: none;
  }
}
