/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    4deg,
    rgba(127, 206, 255, 1) 0%,
    rgba(29, 161, 242, 1) 100%
  );
}
